.tabbrowser-tabs {
    min-height: 26px !important;
    margin-top: 1px !important;
}

.tab-label {
	margin-block: 1px 2px !important;
	display: -moz-box;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tabbrowser-tab:not(:hover) > .tab-stack > .tab-content > .tab-close-button {
	padding-inline-start: 7px !important;
	width: 24px !important;
}

.tabbrowser-tab[visuallyselected="true"]:hover, #tabbrowser-tabs:not([closebuttons="activetab"]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([visuallyselected="true"]):hover {
  --tab-label-mask-size: none !important;
}

.tabbrowser-tab {
	--tab-label-mask-size: none !important;
}
